.button {
  background-color: rgb(241, 65, 86);
  border: none;
  color: rgb(234, 233, 239);
  padding: 1rem;
  border-radius: 20px;
  font-size: .9rem;
  font-weight: 600;
  height: 3rem;
}
.button:hover {
  background-color: #f14156b3;
}
