.container {
  background-color: rgb(68, 67, 112);
  color: rgb(234, 233, 239);
  display: flex;
  padding: 0 3vw;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(234, 233, 239, 0.2);
  position: fixed;
  width: 100vw;
  z-index: 10;
}
.active_item {
  color: rgb(226, 224, 74);
}
