
.card_container {
    width: 300px;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1.3rem;
    background-color: #fff;
    box-shadow: 3px 3px 10px #cbced1;
  }
  .card_container h2 {
    color: #42474b;
    font-size: 1.1rem;
  }
  .card_container a{
    text-align: left;
    width: 100%;
    font-size: .8rem;
    font-weight: 600;
    color: #0969da;
    padding: .5rem 0;
  }
  .card_container a:hover{
    color: #054b9b;
  }