.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container h1 {
  font-size: 1.3rem;
  width: 92vw;
  text-align: left;
  padding: 6rem 0 1rem 0;
  color: #42474b;
}
.cards_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card_container {
  width: 450px;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: #fff;
  box-shadow: 3px 3px 10px #cbced1;
  margin: 1.3rem;
}

@media (max-width: 768px) {
  .card_container {
    width: 80vw;
  }
  .icon_date_container p {
    width: 70vw;
  }
}

@media (max-width: 1200px){
  .container h1 {
    padding: 3rem 0 0 0;
    margin-bottom: 0;
  }
}