@import url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.css');

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: rgb(234, 233, 239);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif ,Vazir;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
